@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.calculator {
    font-family: Space Mono;
    background-color: black;
    margin: 4rem auto;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    width: 280px;
    border-radius: 1rem;
}

.display {
    font-size: 3.2rem;
    font-weight: 300;
    display: flex;
    height: 4rem;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    overflow-x: hidden;
}

.buttons-grid {
    display: flex;
}

button {
    height: 4rem;
    width: 4rem;
    background-color: rgb(88, 86, 86);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    font-family: Space Mono;
    font-weight: 500;
}

button:hover {
    opacity: .9;
}

button:active {
    opacity: .75;
}

.span-two {
    grid-column: span 2;
    width: 8.7rem;
    border-radius: 2rem;
}

.right-col {
    background-color: orange;
}

.top-buttons {
    background-color: rgb(189, 186, 186);
    color: black;
}

.left-part {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.top-part, .bottom-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 0.5rem;
}

.bottom-part {
    margin-bottom: 0;
}

.right-part {
    display: grid;
    gap: .5rem;
}

@media screen and (max-width: 415px) {
    .calculator {
        font-family: Space Mono;
        background-color: black;
        margin: 0;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    
    .display {
        font-size: 3.2rem;
        font-weight: 300;
        display: flex;
        height: 4rem;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem 3rem;
        overflow-x: hidden;
        margin-top: 8rem;
    }
    
    .buttons-grid {
        display: flex;
    }
    
    button {
        height: 5.5rem;
        width: 5.5rem;
        background-color: rgb(88, 86, 86);
        border: none;
        border-radius: 50%;
        color: white;
        font-size: 1.95em;
        font-family: Space Mono;
        font-weight: 500;
    }
    
    button:hover {
        opacity: .9;
    }
    
    button:active {
        opacity: .75;
    }
    
    .span-two {
        grid-column: span 2;
        width: 11.5rem;
        border-radius: 2rem;
    }
    
    .right-col {
        background-color: orange;
    }
    
    .top-buttons {
        background-color: rgb(189, 186, 186);
        color: black;
    }
    
    .left-part {
        display: flex;
        flex-direction: column;
        margin-right: 0.5rem;
    }
    
    .top-part, .bottom-part {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        margin-bottom: 0.5rem;
    }
    
    .bottom-part {
        margin-bottom: 0;
    }
    
    .right-part {
        display: grid;
        gap: .5rem;
    }
}